{% extends 'basic.html' %}
{% block innercontent %}
    <div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Transactions</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Transaction Date" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Medicine Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Medicine Count" disabled></th>
                    </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.datetime }}</td>
                        <td>{{ transaction.medid.medname }}</td>
			<td>{{ transaction.userid.ln }}, {{ transaction.userid.fn }}</td>
                        <td>{{ transaction.presentcount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
